bom
*.ld
Enclosure/*.ai
Datasheets
*/Debug
*/Release
*/.DS_STORE
HandymanSchematic_G0/*backups
AttenuatorSim/*backups
AlgorithmInfo/*.zip
HandymanSchematic*/*backups
HandymanSchematic*/gerber
HandymanSchematic*/*cache
HandymanSchematic*/*.zip
HandymanSchematic*/*.lck

